*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body, html{
    margin: 0px;
    height: 100%;
}

h1{
    padding:20px 20px 20px 25px;
}

.code{
    background-color: #d3bfeb;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    border: 1px solid #bca0dc;
    padding:10px;
}
.page{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% auto;

}

.nav{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    position: fixed;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    width:20%;
    background-color: #bca0dc;
    margin: 0px;
    height: 100%;
}

.nav ul {
    display:flex ;
    flex-direction: column ;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.nav ul li {
    padding:10px;
    background-color: #7950a5;
    margin: 0px;
    transition: all .1s ease-in-out; 
}

.nav ul li:hover {
    padding:20px 10px;
    background-color: #6f3aa7;
    margin: 0px;
}

.nav a{
        text-decoration: none;
        color: #111;
}


.header{
    grid-column: 2 / 4;
    margin: 0px;
    grid-row: 1/2;
    border-bottom: 2px solid #7950a5;
}


.nav_title{
    background-color: #b491c8;
    margin: 0px;
    padding:25px;
    text-align: right;
}

.main_content{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 25px;
}

.main_content h3{
    color:#b491c8;
    padding:25px 0px;
    font-size: xx-large;
    margin:0px;
}

#INinja-intro-logo{
    height: 100px;
    display: inline;
    float: left;
    padding: 20px;
}
#nextcloud-intro-logo{
    height: 100px;
    display: inline;
    float: right;
    border-radius: 25%;
    padding: 5px;
}